<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>entropy</title>
        <link rel="stylesheet" href="/css/home.css" type="text/css">
        <script src="/libs/jquery-3.3.1.min.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="header">
            entropy
        </div>
        <div class="question">
            <span>
                Recycle Today
            </span>
            <div class="buttons">
                <button type="button" class="Cbutton goodButton" name="button"></button>
                <button type="button" class="Cbutton badButton" name="button"></button>
            </div>
        </div>
        <div class="question">
            <span>
                Shower for less than 15 minutes
            </span>
            <div class="buttons">
                <button type="button" class="Cbutton goodButton" name="button"></button>
                <button type="button" class="Cbutton badButton" name="button"></button>
            </div>
        </div>
    </body>
    <script src="/controllers/home.js" charset="utf-8"></script>
</html>
