<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>entropy</title>
        <script src="/data/questions.js"></script>
        <script src="/data/accessories.js"></script>
        <link rel="stylesheet" href="/css/home.css" type="text/css">
        <script src="/libs/jquery-3.3.1.min.js" charset="utf-8"></script>
        <script src="//connect.facebook.net/en_US/sdk.js"></script>
    </head>
    <body>
        <!-- <script src="/controllers/database.js" charset="utf-8"></script>
        <script src="/config/facebook.js" charset="utf-8"></script> -->
        <!-- <script src="/config/facebook.js" charset="utf-8"></script> -->
<!-- actual product -->
        <div class="bg" id="background">
            <div id="timeDate">
                <h1 id="time">
                  Time
                </h1>
                <h2 id="weekday">
                  Weekday
                </h2>

                <!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button> -->
                <!-- <fb:login-button data-auto-logout-link="true" scope="public_profile,email" size="large" id="facebook"></fb:login-button> -->
            </div>


            <div id="plantContainer">
                <img id="plant" src="/images/plant/neutral.png" alt="">

                <img style="visibility: hidden" id="glasses" class="accessories" src="/images/accessories/glasses.png">
                <img style="visibility: hidden" id="moustache" class="accessories" src="/images/accessories/moustache.png">
                <img style="visibility: hidden" id="bow" class="accessories" src="/images/accessories/bow.png">
                <img style="visibility: hidden" id="wizardHat" class="accessories" src="/images/accessories/wizardHat.png">
                <img style="visibility: hidden" id="cowboyHat" class="accessories" src="/images/accessories/cowboyHat.png">
                <img style="visibility: hidden" id="petPlant" class="accessories" src="/images/accessories/petPlant.png">
                <img style="visibility: hidden" id="paw" class="accessories" src="/images/accessories/paw.png">

                <div class="center" id="questionBox2">
                  <input type="text" id="nameField" placeholder="Name your plant">
                  <h1 style="visibility: hidden" id="name"></h1>
                </div>
            </div>

            <img id="shelf" src="/images/friends/succs.png">
            <img id="person1" src="/images/friends/person1.jpg">
            <img id="person2" src="/images/friends/person2.jpg">
            <img id="person3" src="/images/friends/person3.jpg">

            <div id="questionBox">
                <img id="logo" src="/images/logo/entropy.png" alt="">
                <h2>Daily Goals</h2>
                <div class="question">

                    <span id="dailyGoal1" class="task">
                        Daily Goal #1
                    </span>
                    <div class="buttons">
                        <button id="goal1" type="button" class="Cbutton badButton" name="button"></button>
                        <button id="goal1" type="button" class="Cbutton goodButton" name="button"></button>
                    </div>
                </div>
                <div class="question">
                    <span id="dailyGoal2" class="task">
                        Daily Goal #2
                    </span>
                    <div class="buttons">
                        <button type="button" class="goal2 Cbutton badButton" name="button"></button>
                        <button type="button" class="goal2 Cbutton goodButton" name="button"></button>
                    </div>
                </div>

                <h2>Current Challenge</h2>
                <div class="question">
                    <span id="challenge" class="task">
                        CHALLENGE
                    </span>
                    <div class="buttons">
                        <button type="button" class="Cbutton badButton" name="button"></button>
                        <button id="challengeComplete" type="button" class="Cbutton goodButton" name="button"></button>
                    </div>
                </div>
            </div>

            <button type="button" id="facebook" name="button">Connect with Facebook</button>
        </div>
    </body>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-database.js"></script>
    <script src="/controllers/database.js" charset="utf-8"></script>
    <script src="/config/facebook.js" charset="utf-8"></script>
    <script src="/config/config.js" charset="utf-8"></script>
    <script src="/controllers/home.js" charset="utf-8"></script>
    <script src="/controllers/main.js" charset="utf-8"></script>
    <script src="/controllers/facebookAuth.js" charset="utf-8"></script>
</html>
