<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>entropy</title>
        <link rel="stylesheet" href="/css/home.css" type="text/css">
        <script src="/libs/jquery-3.3.1.min.js" charset="utf-8"></script>
    </head>
    <body>


<!-- actual product -->
        <div class="bg" id="background">
            <div id="timeDate">
                <h1 id="time">
                  Time
                </h1>
                <h2 id="weekday">
                  Weekday
                </h2>
            </div>


            <div id="plantContainer">
                <img id="plant" src="/images/plant/neutral.png" alt="">
            </div>


            <div id="questionBox">
                <img id="logo" src="/images/logo/entropy.png" alt="">

                <div class="question">
                    <span class="task">
                        Recycle Today
                    </span>
                    <div class="buttons">
                        <button type="button" class="Cbutton badButton" name="button"></button>
                        <button type="button" class="Cbutton goodButton" name="button"></button>
                    </div>
                </div>
                <div class="question">
                    <span class="task">
                        Shower for less than 15 minutes
                    </span>
                    <div class="buttons">
                        <button type="button" class="Cbutton badButton" name="button"></button>
                        <button type="button" class="Cbutton goodButton" name="button"></button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/controllers/home.js" charset="utf-8"></script>
    <script src="/controllers/main.js" charset="utf-8"></script>
</html>
